# Series and Data Frames

Pandas es una librería de Python especializada en el manejo y análisis de estructuras de datos. El nombre viene de “Panel data”.

* Velocidad
* Poco código
* Múltiples formatos de archivos
* Alineación inteligente

Pandas maneja principalmente dos objetos de datos: "Series" y "DataFrame"


**Pandas Series**

Es muy parecido a un array de una dimensión (o vector) de NumPy.

* Arreglo unidimensional indexado
* Búsqueda por índice
* Slicing
* Operaciones aritméticas
* Distintos tipos de datos


**Pandas DataFrame**

Muy parecido a las estructuras matriciales trabajadas con NumPy.

* Estructura principal
* Arreglo de dos dimensiones
* Búsqueda por índice (columnas o filas)
* Slicing
* Operaciones aritméticas
* Distintos tipos de datos
* Tamaño variable

Empecemos con algo de código...

In [1]:
import warnings
import pandas as pd

warnings.filterwarnings("ignore")

## Series

Definamos varios tipos de estructuras de datos.

In [2]:
# Tuple | Tupla
tuple = ("Navas", "Mbappe", "Neymar", "Messi")
print(type(tuple))
print(tuple)
print("-"*10)

# List | Lista
list = ["Navas", "Mbappe", "Neymar", "Messi"]
print(type(list))
print(list)
print("-"*10)

# Set | Conjunto
set = {"Navas", "Mbappe", "Neymar", "Messi"}
print(type(set))
print(set)
print("-"*10)

# Dicctionary | Diccionario
dicct = {1: "Navas", 7: "Mbappe", 10: "Neymar", 30: "Messi"}
print(type(dicct))
print(dicct)
print("")

dicct2 = {"Jugador":["Navas", "Mbappe", "Neymar", "Messi"],
 "Altura": [183.0, 170.0, 170.0, 165.0],
 "Goles": [2, 200, 200, 200]}
print(type(dicct2))
print(dicct2)

<class 'tuple'>
('Navas', 'Mbappe', 'Neymar', 'Messi')
----------
<class 'list'>
['Navas', 'Mbappe', 'Neymar', 'Messi']
----------
<class 'set'>
{'Mbappe', 'Navas', 'Messi', 'Neymar'}
----------
<class 'dict'>
{1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}

<class 'dict'>
{'Jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'], 'Altura': [183.0, 170.0, 170.0, 165.0], 'Goles': [2, 200, 200, 200]}

Creando una Serie

In [3]:
# Tuple | Tupla
print(pd.Series(tuple))
print("-"*10)

# List | Lista
print(pd.Series(list))
print("-"*10)

# Set | Conjunto
# Set is not supported, type is unordered
# print(pd.Series(set))
# print("-"*10)

# Dicctionary | Diccionario
print(pd.Series(dicct))
print("-"*10)

#pd.Series(list_noindex)

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object
----------
0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object
----------
1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object
----------

Tambien se puede crear una Serie incluyendo los datos como argumento de la función.

In [4]:
pd.Series(["Navas", "Mbappe", "Neymar", "Messi"])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

**Series con Indices**

In [5]:
pd.Series(["Navas", "Mbappe", "Neymar", "Messi"], 
         index = [1, 7, 10, 30]
         )

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [6]:
psg_players = pd.Series(["Navas", "Mbappe", "Neymar", "Messi"], 
         index = [1, 7, 10, 30]
         )

### Indexing & Slicing

In [7]:
pd.Series(dicct)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [8]:
psg_players[7]

'Mbappe'

In [9]:
psg_players[:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

In [10]:
psg_players = pd.Series(["Navas", "Mbappe", "Neymar", "Messi"])

In [11]:
psg_players[:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

## DataFrame

In [12]:
pd.DataFrame(dicct2)

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    200
2  Neymar   170.0    200
3   Messi   165.0    200

In [13]:
pd.DataFrame(dicct2, index=[1, 7, 10, 30])

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

## Indexing & Slicing

In [14]:
df_players_index = pd.DataFrame(dicct2, index=[1, 7, 10, 30])
df_players_noindex = pd.DataFrame(dicct2)

**Método "Index"**, indice a nivel de indices

In [15]:
df_players_index.index

Int64Index([1, 7, 10, 30], dtype='int64')

In [16]:
df_players_noindex.index

RangeIndex(start=0, stop=4, step=1)

**Método "Columns"**, indice a nivel de columna

In [17]:
df_players_index.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [18]:
df_players_noindex.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')